[user]
	email = christiansfd@protonmail.com
	name = Christian Pardillo Laursen
[alias]
    s = status --short
    ci = commit
    br = branch
    co = checkout
    sw = switch
    rs = restore
    pl = pull
[pull]
	ff = only
[credential]
	helper = store
	helper = store
